* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


li {
	list-style: none;
}

body {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 1005px;
}
i {
	font-size: 35px;
}
main{
	width: 390px;
	height: 794px;
	background-color: #000;
	display: flex;
	flex-direction: column;
	border-radius: 20px;

}

label {
	width: 100%;
	height: 100px;
	margin: 210px 0 0 0 ;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.stroka {
	background-color: black;
	display: flex;
	align-items: center;
	height: 100px;
	width: 380px;
	justify-content: right;
	font-size: 70px;
	border: none;
	outline: none;
	text-align: right;
	color: #FFFFFF;
}


.list {
	display: flex;
	flex-wrap: wrap;
	margin: 15px;
}

button {
	font-size: 40px;
	width: 80px;
	height: 80px;
	border-radius: 50px;
	border: none;
	background-color: grey;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
}
button:active {
	background-color: darkgray;
}
.zkan {
	background-color: darkorange;
}
.zkan:active {
	background-color: goldenrod;
}
li:active {
	background-color: black;
	color: #FFF;
}
.iskl {
	width: 170px;
}
.up {
	background-color: lightslategray ;
}
